@font-face {
    font-family: "iCiel Pony";
    src: url("fonts/iCiel-Pony.ttf");
}
:root {
    --brown: #794821;
    --aqua: #85ede4;
    --orange: #efab17;
    --grey: #e5e5e5;
    --recommend-bg: rgba(121, 72, 33, 0.05);
    --semi-bold: 600;
}

body {
    padding: 0;
    font-family: "Quicksand";
    font-size: 20px;
    color: var(--brown);
    margin: 150px 0 0 0;
}
.container {
    margin: 50px 85px;
}
.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}
.justify-space-between {
    display: flex;
    justify-content: space-between;
}
.align-center {
    display: flex;
    align-items: center;
}
.align-start {
    display: flex;
    align-items: flex-start;
}
.align-end {
    display: flex;
    align-items: flex-end;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.l-1 {
    width: calc(100% / 12);
}
.l-2 {
    width: calc(100% / 6);
}
.l-3 {
    width: calc(100% / 4);
}
.l-4 {
    width: calc(100% / 3);
}
.l-5 {
    width: calc(100% / 12 * 5);
}
.l-6 {
    width: calc(100% / 2);
}
.l-7 {
    width: calc(100% / 12 * 7);
}
.l-8 {
    width: calc(100% / 3 * 2);
}
.l-9 {
    width: calc(100% / 4 * 3);
}
.l-10 {
    width: calc(100% / 6 * 5);
}
.l-11 {
    width: calc(100% / 12 * 11);
}
.l-12 {
    width: 100%;
}
.head {
    width: 100%;
}
.head__title span {
    font-family: "iCiel Pony";
    color: var(--brown);
    font-size: 50px;
}
.head__title string {
    color: var(--orange);
}

.lang-switch a {
    font-size: 16px;
    text-decoration: none;
    color: var(--brown);
    line-height: 26px;
    font-weight: bold;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    border: solid 1.5px var(--brown);
    border-radius: 30px;
    padding: 10px 20px 10px 15px;
}

#search {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--brown);
}
#search::placeholder {
    color: var(--brown);
    opacity: 0.5;
}

.search-box::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    right: 10px;
    background-image: url("images/ic-search.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.statistic,
.categories {
    display: flex;
    padding-bottom: 50px;
    justify-content: space-between;
    border-bottom: 1px solid var(--orange);
}
.post {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid var(--orange);
}
.post > * {
    width: 48%;
}
.post .author {
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
}
.post .title {
    font-size: 55px;
    font-family: "iCiel Pony";
    line-height: 60px;
}
.post .content {
    text-align: justify;
    font-weight: var(--semi-bold);
    line-height: 26px;
}
.post .create-time {
    font-size: 15px;
    font-weight: bold;
}
.subs a {
    text-decoration: none;
}

.subs .btn-see-more {
    height: 30px;
    font-size: 15px;
    border: solid 3px var(--orange);
    border-radius: 30px;
    color: var(--brown);
    margin-right: 10px;
    cursor: pointer;
    padding: 0 10px;
    font-weight: bold;
}
.subs .btn-see-more:hover {
    transition: all 0.3s;
    background-color: var(--orange);
    color: #fff;
}
.subs .btn-play {
    width: 36px;
    height: 36px;
    background: url("images/play.png") no-repeat;
    background-size: contain;
}
.subs .btn-play:hover {
    transition: all 0.3s;
    background: url("images/ic-play-filled.png") no-repeat;
    background-size: contain;
}
.statistic .item {
    padding: 10px 0;
}
.statistic .amount {
    font-family: "iCiel Pony";
    font-size: 96px;
    color: var(--orange);
}
.statistic .label {
    font-size: 24px;
    font-weight: bold;
}

.statistic .unit {
    font-size: 32px;
}
.statistic .unit--short {
    display: none;
}

.category {
    width: 22%;
}

.category .category__title {
    font-size: 32px;
    font-family: "iCiel Pony";
    margin: 15px 0;
    height: 65px;
    line-height: 32px;
}
.category .category__description {
    font-size: 18px;
    text-align: justify;
    line-height: 21px;
    font-weight: bold;
}

.filter-buttons button {
    background-color: var(--brown);
    border-radius: 30px;
    color: var(--orange);
    border: none;
    width: 175px;
    height: 40px;
    font-size: 20px;
    line-height: 25px;
    font-family: "iCiel Pony";
    cursor: pointer;
    margin: 10px;
    letter-spacing: 2%;
}

.filter-buttons button.active {
    background-color: var(--orange);
    color: var(--brown);
}

.filter-buttons button:hover {
    background-color: var(--orange);
    color: var(--brown);
    transition: all 0.3s;
}

.filter-posts .post {
    border-bottom: unset;
}
.filter-posts .post .post__img {
    width: 30%;
}

.filter-posts .post .post__info {
    width: 67%;
}

.filter-posts .post .post__info .title {
    font-size: 40px;
}
.title-desktop {
    display: flex;
    flex-direction: column;
}
.title-mobile {
    display: none;
}

.filter-posts .subs--mobile {
    display: none;
}

.filter-posts .subs--desktop {
    display: flex;
}

.filter-posts .box {
    margin: 15px 85px;
}
.filter-posts .box:not(:last-child) {
    border-bottom: 1px solid var(--orange);
}

@media screen and (max-width: 640px) {
    body {
        font-size: 13px;
        margin: 100px 0 0 0;
    }
    .container {
        margin: 20px 35px;
    }
    .head,
    .post--main {
        flex-direction: column;
    }

    .head > div,
    .post--main > * {
        width: 100%;
        margin-bottom: 15px;
    }
    .post--main .title {
        font-size: 24px;
        line-height: 26px;
    }
    .head .head__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #search::placeholder {
        font-size: 13px;
    }

    .head__title span {
        font-size: 30px !important;
    }
    .title-mobile {
        display: flex;
        flex-direction: column;
    }
    .title-mobile .author {
        color: var(--brown);
        font-size: 12px;
        font-weight: bold;
        line-height: 26px;
    }
    .title-mobile .title {
        color: var(--brown);
        font-size: 18px;
        font-family: "iCiel Pony";
    }
    .title-desktop {
        display: none;
    }
    .categories {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .category {
        width: 47%;
        margin-bottom: 30px;
    }
    .categories .category__title {
        font-size: 15px;
        height: unset;
        line-height: 25px;
        margin: 10px 0;
    }
    .category .category__description {
        font-size: 12px;
        line-height: 13px;
    }
    .filter-buttons {
        flex-wrap: wrap;
    }
    .filter-buttons button {
        width: unset;
        min-width: 110px;
        margin: 5px;
    }
    .filter-posts .subs--mobile {
        display: flex;
    }
    .filter-posts .subs--desktop {
        display: none;
    }
    .filter-posts .post > * {
        width: 48% !important;
    }
    .statistic {
        flex-wrap: wrap;
    }
    .statistic .amount {
        font-size: 32px;
        display: flex;
    }
    .statistic .label {
        font-size: 14px;
        text-align: center;
        line-height: 14px;
    }
    .statistic .item {
        width: 50%;
    }
    .statistic .unit--short {
        display: block;
    }
    .statistic .unit--long {
        display: none;
    }
    .post .create-time {
        font-size: 16px;
    }
    .lang-switch a {
        font-size: 20px;
    }
    .post {
        padding-bottom: unset;
    }
    .subs {
        margin: 15px 0;
    }
    .filter-posts .post .post__info .content {
        margin: 0;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        white-space: normal;
        line-height: 16px;
    }
    .filter-posts .box {
        margin: 15px 35px;
    }
    .filter-buttons button {
        width: 100px;
        height: 22px;
        font-size: 12px;
        line-height: 25px;
    }
    .post .content {
        line-height: 16px;
    }
}

/* DETAIL */
.post-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.post-container .post-info {
    width: calc(500% / 12);
    padding-right: 30px;
}
.post-container .post-detail {
    width: calc(700% / 12);
}
.post-info .avatar {
    width: 120px;
    height: 120px;
    background-color: var(--grey);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: var(--orange);
}

.post-info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}
.post-info p {
    margin: unset;
}
.post-info .title {
    font-size: 55px;
    font-family: "iCiel Pony";
    line-height: 69px;
    margin: 40px 0;
}
.post-info .content {
    font-weight: bold;
    margin-bottom: 20px;
    overflow-y: auto;
}
.post-container .buttons {
    margin-top: 30px;
    display: flex;
}
.post-detail img {
    width: 100%;
}
.buttons--mobile {
    display: none !important;
}
.post-container .buttons div {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.post-container .buttons div:not(:first-child) {
    margin-left: 20px;
}
.post-container .buttons .favorite {
    background-image: url("images/ic_favorite.png");
}
.post-container .buttons .favorite:hover {
    background-image: url("images/ic_favorited.png");
    transition: all 0.3s;
}
.post-container .buttons .favorite.ed {
    background-image: url("images/ic_favorited.png");
}
.post-container .buttons .share {
    background-image: url("images/share.png");
}

.lb-title {
    display: flex;
    position: relative;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}
.lb-title::before {
    margin-right: 15px;
    content: "";
    width: 15px;
    border-radius: 10px;
    background-color: var(--orange);
}
.recommend-container .item {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--recommend-bg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.recommend-container .item img {
    width: 100%;
    border-radius: 10px;
}

.recommend-container .item > div {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.recommend-container .item .subs {
    margin: 15px 0;
}
.recommend-container .item .title {
    font-size: 32px;
    font-family: "iCiel Pony";
    line-height: 35px;
    margin: 30px 0;
}
.recommend-container .item .content {
    font-size: 18px;
    line-height: 21px;
}

.recommend-container .item .subs button {
    background-color: var(--recommend-bg);
}
.recommend-container .item .subs .create-time {
    font-size: 20px;
    font-weight: bold;
}

.subscribe-container {
    margin-top: 200px;
    position: relative;
}
.subscribe-container .subscribe {
    position: relative;
    width: 50%;
    background-color: var(--brown);
    display: flex;
    margin: auto;
    padding: 2px;
    border-radius: 5px;
}
.subscribe-container .subscribe::before {
    position: absolute;
    right: 0;
    content: "";
    width: 200px;
    height: 100px;
    background: url("images/monster0.png") bottom center no-repeat;
    background-size: contain;
    bottom: 100%;
}
.subscribe input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--brown);
    color: #fff;
}
.subscribe input::placeholder {
    color: #f5dcc0;
}
.subscribe button {
    width: 200px;
    background-color: #f5dcc0;
    border: none;
    border-radius: 5px;
    color: var(--brown);
}

@media screen and (max-width: 640px) {
    .post-container {
        flex-direction: column;
    }
    .post-container > * {
        width: 100% !important;
    }
    .post-info .author {
        justify-content: space-between;
        align-items: center;
    }
    .post-info .avatar {
        height: 60px;
        width: 60px;
        font-size: 28px;
    }
    .post-info .info {
        margin-left: 10px !important;
    }
    .buttons--mobile {
        display: flex !important;
        margin-top: 0 !important;
    }
    .buttons--desktop {
        display: none !important;
    }
    .buttons > div {
        width: 25px !important;
        height: 25px !important;
    }
    .post-info .title {
        font-size: 32px;
        line-height: 38px;
        margin: 20px 0;
    }
    .post-info .content {
        font-size: 14px;
    }
    .post-detail .detail span {
        font-size: 15px !important;
    }
    .post-detail .detail strong {
        font-size: 18px !important;
    }

    .lb-title {
        font-size: 18px !important;
    }
    .recommends {
        flex-direction: column;
    }
    .recommends .item {
        width: 100%;
        flex-direction: row;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .recommends .item img {
        width: 45%;
        /* height: fit-content; */
    }
    .item__content {
        padding: 0 0 0 10px !important;
    }
    .item__content .subs {
        display: none;
    }
    .item__content .content {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
        font-size: 12px !important;
        line-height: 13px !important;
        font-weight: var(--semi-bold);
    }
    .recommend-container .item .title {
        font-size: 16px;
        margin: 0;
        line-height: 23px;
    }

    .subscribe {
        flex-direction: column;
        width: 100% !important;
    }
    .subscribe button {
        padding: 10px;
        width: inherit;
    }
}
